.navbar {
  width: 95%;
  background-color: #1a1a1a;
  padding: 1rem 50px; /* margen izquierdo y derecho de 50px */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  margin-bottom: 100px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between; /* distribución uniforme */
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.nav-list li a:hover {
  color: #00bcd4;
}