.container-productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 16px; /* espacio entre tarjetas */
    padding: 20px;
  }
  
  .tarjetas {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #401e1e;
    text-align: center;
  }

  .img{
    height: 200px;
    width: 150px;
  }